.pc-container{
	width: 650px;
	height: 320px;
	/*border: 1px solid black;*/
	margin: 20px;
	padding: 0px;
	position: relative;
	border-radius: 5px;
	background-color: ghostwhite;
}

.pc-img{
	width: 230px;
	height: 300px;
	border-radius: 3px;
	margin: 10px;
	display: inline-block;
	border: 1px solid black;
}

.pc-items-container{
	display: inline-block;
	margin-right: 10px;
	/*width: 440px;*/
	/*border: 1px solid black;*/
	position: absolute;
	top: 0;
}

.pc-items-container p{
	font-family: calibri;
	font-size: 22px;
}

.pc-edit-btn{
	position: absolute;
	bottom: 0;
	margin-bottom: 10px;
	padding: 5px 40px;
	border-style: none;
	border-radius: 5px;
	font-weight: bold;
	background-color: rgba(18, 160, 255,0.5);
	/*color: white;*/
}

.pc-edit-btn:hover{
	background-color: rgba(18, 160, 255,1.0);
}

.pc-delete-btn{
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 5px 40px;
	border-style: none;
	border-radius: 5px;
	font-weight: bold;
	background-color: rgba(245, 190, 61, 0.5);
	/*color: white;*/
}

.pc-delete-btn:hover{
	background-color: rgba(245, 190, 61, 1.0);
}

.pc-reserve-btn{
	margin-right: auto;
	margin-left: auto;
	position: absolute;
	bottom: 0;
	/*left: 60%;*/
	margin-bottom: 10px;
	padding: 5px 0px;
	width: 385px;
	border-style: none;
	border-radius: 5px;
	/*font-weight: bold;*/
	text-align: center;
	background-color: rgba(45, 168, 34,0.5);
	
}

.pc-reserve-btn:hover{
	background-color: rgba(45, 168, 34,1.0);
	
}

.pc-remove-btn{
	margin-right: auto;
	margin-left: auto;
	position: absolute;
	bottom: 0;
	/*left: 60%;*/
	margin-bottom: 10px;
	padding: 5px 0px;
	width: 385px;
	border-style: none;
	border-radius: 5px;
	/*font-weight: bold;*/
	text-align: center;
	background-color: rgba(224, 74, 74,0.5);
}

.pc-remove-btn:hover{
	background-color: rgba(224, 74, 74,1.0);
}



