.pcl-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	/*display: grid;
	grid-gap: 0px;
	grid-template-columns: auto;*/
	/*justify-content: center;
	margin: auto;
	border: 1px solid black;
	*/
	/*justify-items: center;*/
}

.no-pets{
	font-family: calibri;
	font-weight: normal;
}

.no-pets-img{
	display: block;
	margin: auto;
}

/*@media (min-width: 480px) {
	.pcl-container {
	grid-template-columns: auto;
}

}

@media (min-width: 768px) {
	.pcl-container {
	grid-template-columns: auto;
}

}

@media (min-width: 992px) {
	.pcl-container {
	grid-template-columns: auto;
}
 
}

@media (min-width: 1200px) {
	.pcl-container {
		grid-template-columns: repeat(2, 1fr);
	}

}*/
